@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

[class*="copyrights-pane"] {
    display: none !important;
}

.ymaps-balloon-text {
    margin: 0 0 20% 0;
}

.ymaps-balloon {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-direction: column-reverse;
    text-align: center;
}

.ymaps-balloon-icon {
    width: 50%;
    height: 50%;
    margin: auto;
}
