<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=99c6fe68-fe8e-4f35-9d55-e063878aabb8&lang=ru_RU"
            type="text/javascript"></script>
    <link href="{{ url_for('static', path='/styles/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <div id="root">
        <img class="loader" src="{{ url_for('static', path='/images/loader.gif') }}" alt="loader"/>
    </div>

    <div class="popup" id="popup">
        <form action="GET" class="form" id="form">
            <div class="form-group">
                <input
                        type="text"
                        value=""
                        name="city"
                        class="form-input"
                        id="text-input"
                        placeholder="Лондон"
                        required
                />
                <input
                        type="submit"
                        class="form-submit"
                        id="submit-button"
                        value="OK"
                />
            </div>
        </form>

        <div class="popup-close" id="close">
            <span></span>
        </div>
    </div>
    <div id="map" style="width: 600px; height: 400px"></div>
</div>

<script src="{{ url_for('static', path='/scripts/script.js') }}"></script>
</body>
</html>